{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<!--Message Flashing-->
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li><strong>{{message}}</strong></li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% for r in restaurants %}

<div>

<p>{{r.name}}</p>

</div>
<a href="{{url_for('editRestaurant', restaurant_id=r.id)}}">Edit</a>
<a href="{{url_for('deleteRestaurant', restaurant_id=r.id)}}">Delete</a>
{% endfor %}
{% endblock %}